# Auto detect text files and perform LF normalization
* text=auto

<! DOCTYPE html>
<html>
<head>
 <title> our delivery page</title>
</head>

<body>
 <h1>University of Bath delivery service</h1>

</body>
</html>
